<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Non-Reg-Summar-Created</title>

    <!-- bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- styles -->
    <link href="/main.77bb5cfd.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <!-- fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a id="openSideNav" class="navbar-brand digest-logo" onclick="openNav()"><img src="/digest.ai.cdb59dd2.png" alt="..." height="32" width="139"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">summarize</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">info</a>
            </li>
          </ul>
          <ul class="navbar-nav user-login">
            <li class="nav-item">
              <a class="nav-link" href="#">hi, sammy!</a>
            </li>
            <img class="navbar-avatar" src="/sammy_navbar.fece2245.png" width="39" height="39" alt="">
          </ul>
        </div>
      </nav>
    </header>

    <!-- side menu **delete for delivery** -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" id="closeSideNav" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/index.html">landing-page</a>
      <a href="/registered.html">reg-summary-created</a>
      <a href="/summarization-step1.html">summarization-step-1</a>
      <a href="/non-reg-summary-created.html">non-reg-summary-created</a>
      <a href="/study-set-summary.html">study-set-summary</a>
      <a href="/study-set-flashcards.html">study-set-flashcards</a>
      <a href="/study-set-quiz.html">study-set-quiz</a>
      <a href="/account-library.html">account-library</a>
    </div>
    <!-- end side menu -->

    <!-- main header -->
    <section class="main-header">
      <div class="container">
        <div class="row">
          <h2 class="mb-4">summarize your textbook</h2>
        </div>
      </div>
    </section>

    <!-- main section -->
    <section class="main-content">
      <div class="container">
        <!-- steps -->
        <div class="steps-wrapper">
          <div class="row step-columns">
            <!-- step 1 -->
            <div class="col-md-2 steps">
              <span class="step-circle"></span>
              <span class="font-weight-bold">step 1</span>
              <span>upload</span>
            </div>
            <!-- step 2 -->
            <div class="col-md-2 steps">
              <span class="step-circle"></span>
              <span class="font-weight-bold">step 2</span>
              <span>summarization</span>
            </div>
            <!-- step 3 -->
            <div class="col-md-2 steps">
              <span class="step-circle active"></span>
              <span class="font-weight-bold">step 3</span>
              <span>save summary</span>
            </div>
          </div>
          <!-- new tech image -->
          <div class="new-tech-img-wrapper">
            <img class="img-fluid new-tech-img" src="/new_tech.178aa321.png" alt="..." height="615" width="477">
          </div>
        </div>
        <!-- summary section -->
        <div class="summary-section mb-3">
          <div class="container non-registered">
            <div class="row summary-header">
              <h2 class="mt-4 mb-4">summary created!</h2>
            </div>
            <div class="summary-wrapper">
              <!-- summary column -->
              <div class="col-md summary-col-1">
                <h5>summary</h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Cursus faucibus lectus phasellus etiam aliquet malesuada.
                  Venenatis, aenean tellus facilisi amet, id pretium phasellus
                  nullam id. Ornare sagittis, rutrum eu duis. Feugiat et lectus
                  enim id. Proin imperdiet adipiscing rhoncus consectetur non.
                  Id risus aliquet lacus ultrices imperdiet at ut amet laoreet.
                  Pellentesque vestibulum, convallis in blandit. Vulputate
                  convallis netus id arcu enim lectus vestibulum. Egestas massa
                  pretium sit lacus massa porta.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Cursus faucibus lectus phasellus etiam aliquet malesuada.
                  Venenatis, aenean tellus facilisi amet, id pretium phasellus
                  nullam id. Ornare sagittis, rutrum eu duis. Feugiat et lectus
                  enim id. Proin imperdiet adipiscing rhoncus consectetur non.
                  Id risus aliquet lacus ultrices imperdiet at ut amet laoreet.
                  Pellentesque vestibulum, convallis in blandit. Vulputate
                  convallis netus id arcu enim lectus vestibulum. Egestas massa
                  pretium sit lacus massa porta
                </p>
                <div class="text-cover"></div>
              </div>
              <!-- start summary form -->
              <div class="col-md summary-col-2 non-registered">
                <h4>You're almost there!</h4>
                <span>Create an account for FREE and get access to our suite of
                  features!</span>
                <!-- submit button -->
                <button type="submit" class="btn btn-primary">
                  get started!
                </button>
              </div>
              <!-- end summary form -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- fixed footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <!-- info -->
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <ul class="info">
              <span>Info</span>
              <li>
                <a href="#">about us</a>
              </li>
              <li>
                <a href="#">how it works</a>
              </li>
              <li>
                <a href="#">features</a>
              </li>
            </ul>
          </div>
          <!-- legal -->
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <ul class="legal">
              <span>Legal</span>
              <li>
                <a href="#">terms</a>
              </li>
              <li>
                <a href="#">privacy</a>
              </li>
            </ul>
          </div>
          <!-- contact -->
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <ul class="contact">
              <span>Contact</span>
              <li>
                <a href="#">info@digest.ai</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- footer svg -->
      <img class="img-fluid footer-img" src="/footer.8f2866fe.svg">
      <!-- Copyright -->
      <div class="text-left p-4 copyright">© digest.ai 2021</div>
    </footer>

    <!-- side-menu script ***remove before delivery*** -->
    <script src="/app.c328ef1a.js"></script>
    <!-- end side-menu script -->
  </body>
</html>
