<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Study-Set-Flashcards</title>

    <!-- bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- styles -->
    <link href="/main.77bb5cfd.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <!-- fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a id="openSideNav" class="navbar-brand digest-logo" onclick="openNav()"><img src="/digest.ai.cdb59dd2.png" alt="..." height="32" width="139"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">summarize</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">info</a>
            </li>
          </ul>
          <ul class="navbar-nav user-login">
            <li class="nav-item">
              <a class="nav-link" href="#">hi, sammy!</a>
            </li>
            <img class="navbar-avatar" src="/sammy_navbar.fece2245.png" width="39" height="39" alt="">
          </ul>
        </div>
      </nav>
    </header>

    <!-- side menu **delete for delivery** -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" id="closeSideNav" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/index.html">landing-page</a>
      <a href="/registered.html">reg-summary-created</a>
      <a href="/summarization-step1.html">summarization-step-1</a>
      <a href="/non-reg-summary-created.html">non-reg-summary-created</a>
      <a href="/study-set-summary.html">study-set-summary</a>
      <a href="/study-set-flashcards.html">study-set-flashcards</a>
      <a href="/study-set-quiz.html">study-set-quiz</a>
      <a href="/account-library.html">account-library</a>
    </div>
    <!-- end side menu -->

    <!-- main section -->
    <section class="main-header pb-5">
      <div class="container">
        <div class="study-header mt-5">
          <!-- quiz header -->
          <h3>Study set:</h3>
          <div class="icon-title">
            <img class="study-set-icon" src="/study_set_icon.50e71a70.svg" alt="">
            <h2 class="mb-3">
              World History: Cultures, States and Societies to 1500
            </h2>
          </div>
          <h4 class="mb-3">Chapter 1 - Ancient Mesopotamia</h4>
          <div class="mb-3">
            <span class="prerequisites">
              Prerequisites:
              <span class="text-muted topic">Global History</span>
            </span>

            <button class="btn topic-filters">IB</button>
            <button class="btn topic-filters">History</button>
          </div>
          <span class="authors">Authors: Eugene Berger, Georgia Gwinnett, George Israel, Middle
            Georgia</span>

          <!-- navigation -->
          <div class="study-navigation mt-5">
            <!-- summary button -->
            <button type="button" class="btn">summary</button>
            <!-- flashcards button -->
            <button type="button" class="btn">flashcards</button>
            <!-- quiz button -->
            <button type="button" class="btn" data-toggle="button" aria-pressed="true">
              quiz
            </button>
          </div>

          <h5>study with your flashcards</h5>
        </div>
      </div>
    </section>
    <!-- divider -->
    <hr>

    <!-- main section -->
    <section class="main-content">
      <div class="container">
        <!-- flashcard section -->
        <div class="flashcards-section mb-3">
          <div class="container">
            <div class="row flashcard-header">
              <div class="flashcards-wrapper">
                <!-- flashcard columns -->
                <div class="col-md flashcards-col-1">
                  <button type="button" class="btn">
                    <span class="flashcards-topic">Patheolithic Age</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                  <button type="button" class="btn">
                    <span class="flashcards-topic">Natural boundaries<br>
                      that protected Egypt</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                </div>

                <div class="col-md flashcards-col-1">
                  <button type="button" class="btn">
                    <span class="flashcards-topic">Neolithic Age Age</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                  <button type="button" class="btn">
                    <span class="flashcards-topic">State Palette of Narmer</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                </div>

                <div class="col-md flashcards-col-1">
                  <button type="button" class="btn">
                    <span class="flashcards-topic">Ziggurat</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                  <button type="button" class="btn">
                    <span class="flashcards-topic">Old Kingdom (c. 3100-2300 BC)</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                </div>

                <div class="col-md flashcards-col-1">
                  <button type="button" class="btn">
                    <span class="flashcards-topic">Oracle Bone</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                  <button type="button" class="btn">
                    <span class="flashcards-topic">Francois Champollion</span><img class="flip-icon" src="/flip-icon.0c559b7d.png" width="32" height="24" alt="">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end flashcard section -->
      </div>
    </section>
    <!-- fixed footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <!-- info -->
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <ul class="info">
              <span>Info</span>
              <li>
                <a href="#">about us</a>
              </li>
              <li>
                <a href="#">how it works</a>
              </li>
              <li>
                <a href="#">features</a>
              </li>
            </ul>
          </div>
          <!-- legal -->
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <ul class="legal">
              <span>Legal</span>
              <li>
                <a href="#">terms</a>
              </li>
              <li>
                <a href="#">privacy</a>
              </li>
            </ul>
          </div>
          <!-- contact -->
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <ul class="contact">
              <span>Contact</span>
              <li>
                <a href="#">info@digest.ai</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
     <!-- footer svg -->
     <img class="img-fluid footer-img" src="/footer.8f2866fe.svg">
      <!-- Copyright -->
      <div class="text-left p-4 copyright">© digest.ai 2021</div>
    </footer>
    
    <!-- side-menu script ***remove before delivery*** -->
    <script src="/app.c328ef1a.js"></script>
    <!-- end side-menu script -->
  </body>
</html>
